.fileWP {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 10px;
}

.uploadWP span {
  width: 100%;
  height: 300px;
  line-height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.uploadWP p {
  width: 90%;
  text-wrap: wrap;
  word-break: break-all;
  margin-left: 9px;
  text-align: right;
}

.uploadWP span.hide {
  opacity: 0;
  ;
}

.upload,
.uploadWP,
.add_popup .flex.uploadWP,
.popupWP div.flex.uploadWP {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.popupWP div.flex.uploadWP.edit {
  position: absolute;
  border: 0;
  width: 100%;
  top: 0;
}

.popupWP div.flex.uploadWP.edit.relative {
  position: relative;
  border: 1px solid #E1E1E2;
  width: 100%;
}

.upload video {
  width: 100%;
}

.upload video,
.vc_console_holder {
  display: none;
}

.upload.changed {
  width: auto;
}

.uploadWP.changed {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.uploadWP input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index: 2;
}

.upload,
.edit_popup .flex.uploadWP .upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.edit_popup .flex.uploadWP .upload {
  justify-content: space-between;
}

.edit_popup .flex.uploadWP .upload.edit {
  display: none;
}

.popupWP .flex.second input {
  display: none;
}

.popupWP .flex.column {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100px;
  padding: 0 15px;
}

.popupWP .flex.column textarea {
  margin-top: 4px;
  font-size: 0.9rem;
  height: 50px;
}

.popupWP .flex.column textarea:focus {
  outline: none;
}

.popupWP .flex p.red {
  color: #D92700;
  background-color: transparent !important;
}

.edit_popup .wrap {
  width: 100%;
  height: 60px;
  overflow-y: scroll;
  text-align: left;
}

img.uploadImg.show,
.edit_popup img.uploadImg {
  width: 200px;
  height: 280px;
  line-height: 280px;
  object-fit: contain;
  display: none;
}

img.uploadImg.show {
  display: block;
}

.edit_popup img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

img.uploadImg.show {
  background-color: #999;
  display: block;
}

input.space_around {
  text-align: right;
}

.flex.column input,
.popupWP .flex .fontLevel_1 {
  color: #2F3034;
  width: auto;
  margin-bottom: 0;
  border-bottom: 0;
  height: auto;
  font-size: 0.9rem;
  position: relative;
}

.flex.column input {
  height: 200px;
}

.popupWP .flex .fontLevel_1.tag {
  width: 100%;
}

.popupWP .flex .sound {
  color: #DE716A;
  font-size: 0.8rem;
  right: 0;
  position: absolute;
}

.popupWP .flex .fontLevel_3 {
  color: #C7C7C7;
}

textarea {
  border: 0;
  resize: none;
  font-size: 0.9rem;
  height: 24px;
}

form select {
  width: auto;
}

form select:focus {
  outline: none;
}

.edit_popup.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border: 0;
  padding: 27px 20px;
}

.edit_popup.flex>div {
  width: 270px;
  position: relative;
}

.popupWP.width600 {
  width: 600px;
    height: 556px;
}

div:where(.swal2-container).swal2-center>.swal2-popup.width600 .popupWP {
  margin: 0;
}

.flex.height90 {
  height: 200px;
}

.flex.height100 {
  height: 100px;
}

/*popup*/
.popup_bg {
  width: 100vw;
  height: 100vh;
  border: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  /* transition: all 0.6s; */
}

.popup_bg .titleWP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #F7F7F8;
  padding-right: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup_bg .swalWP {
  position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    height: 95vh;
    width: 100%;
    padding-bottom: 120px;
    padding-top: 56px;
}
.popup_bg .popupWP.big{
  width: 95vw;
} 
.popupWP.small .swalWP {
  height: 200px;
}

.popup_bg .popupWP.small .swalWP p {
  height: 80px;
  line-height: 80px;
  color: #2F3034;
  font-size: 1.1rem;
}

.popup_bg .titleWP .close {
  cursor: pointer;
  color: #cfcfcf;
  font-size: 28px;
}

.popupWP {
  width: 500px;
  height: 80vh;
  position: relative;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  z-index: 4;
  margin: 0;
  right: auto;
}

.popupWP.small {
  width: 350px;
  height: 200px;
  position: relative;
}

.popup_bg:hover {
  background-color: transparent;
}

.popup_bg::after {
  content: '';
  background-color: rgba(0, 0, 0, .4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.popupWP:hover {
  background-color: #fff;
  color: #5861E2;
}

.popupWP .add_popup .flex.uploadWP {
  position: relative;
}

.popupWP .flex {
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #E1E1E2;
  padding: 12px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popupWP .flex.img,
.popupWP .flex.imageWP.show {
  width: 100%;
  height: 300px;
}

.popupWP .flex.imageWP.show img,
.popupWP .flex.imageWP.show video {
  width: 100%;
  height: 280px;
  object-fit: contain;
}

.popupWP .popup {
  padding: 20px 30px;
  height: auto;
}

.add_popup .flex p,
.view_popup .flex p {
  font-size: 0.85rem;
  color: #6D6E71;
}

.add_popup .flex input,
.view_popup .flex input {
  width: 50%;
  font-size: 0.85rem;
  border: 0;
  margin-bottom: 0;
}

.add_popup .flex input[type="file"],
.view_popup .flex input[type="file"] {
  width: 100%;
}

.add_popup .fontLevel_3,
.view_popup .fontLevel_3 {
  color: #C7C7C7;
  font-size: 0.85rem;
}

.popupWP span {
  color: #999;
}

.popupWP .btn:hover {
  background-color: #c7c7c7;
}

.popupWP .btn.confirm {
  background-color: #3CBC26;
}

.popupWP .btn.small {
  background-color: #D92700;
}
