input[type="text"].datepicker {
  width: 120px;
}

.btnWP {
  height: 100px;
}

.btn {
  width: 56px;
  margin: 0 auto;
}

.btnImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1px;
}

.btnImg .flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btnImg i:nth-child(1) {
  margin-right: 0;
}

.btnImg .flex:nth-child(1) {
  margin-right: 5px;
}

.btnImg img {
  margin: 2px auto 0;
  width: 24px;
  height: 24px;
}

.btnImg img.push {
  width: 20px;
  height: 20px;
}

[type="radio"].option-input {
  pointer-events: initial;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 22px;
  width: 22px;
  transition: all 0.15s ease-out 0s;
  border: 1px solid #C7C7C7;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50%;
  opacity: 1;
}

[type="radio"].option-input:checked::after {
  border: 0;
}

.popup_bg.clone table tr,
.popup_bg.replace table tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
}

.popup_bg.clone table td,
.popup_bg.replace table td {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0;
}

.popup_bg .popupWP.big {
  height: 98vh;
}